<html>
    <head>
        <title>Batch Monitoring</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <div class="content center">
            <div class="pagetitle">
                <h1>Welcome to {{ project }} batch monitoring</h1>
            </div>
            <p>Here is the batch information</p>
            <p>
                <strong>SLO</strong>: {{ SLO }}<br>
                <strong>SLA</strong>: {{ SLA }}<br>
                <strong>Batch Status</strong>: {{ status }}<br>
            </p>
        </div>
    </body>
</html>